.video-container {
  perspective: 800px;
  position: relative;
  width: 100%;
  height: 100%;
  --rYstart: -80deg;
  --rYend: -10deg;
}

video {
  width: 100%;
  height: 100%;
  
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: perspective(400px) scaleZ(0.6) rotateX(-4.222deg) rotateY(var(--rYstart)) translateX(100%);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) scaleZ(1) rotateX(-4.222deg) rotateY(var(--rYend)) translateX(0);
  }
}

@keyframes slideout {
  0% {
    opacity: 1;
    transform: perspective(800px) scaleZ(1) rotateX(-4.222deg)  translateX(0);
  }
  100% {
    opacity: 0;
    transform: perspective(800px) scaleZ(1) rotateX(-4.222deg)  translateX(-100%);
  }
}
